@model IEnumerable<Assignment_PRN211.Models.RequestBooking>;
@{
    ViewData["Title"] = "Request Booking";
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://img.freepik.com/free-vector/illustration-university-graduates_53876-28466.jpg?q=10&h=200');">
            <span class="mask  bg-gradient-primary  opacity-6"></span>
        </div>
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Đơn đặt phòng</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mã số sinh viên</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mã phòng</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Mã giường</th>
                                    <th class="text-center text-secondary text-xxs opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <form asp-controller="Booking" asp-action="Request">
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.UserId</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.RoomId</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.BedId</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">
                                                <button class="btn btn-primary" type="submit" asp-route-act="add" asp-route-sid="@item.UserId" asp-route-rid="@item.RoomId" asp-route-bid="@item.BedId">Duyệt</button>
                                            </span> |
                                            <span class="text-secondary text-xs font-weight-bold">
                                                <button class="btn btn-primary" type="submit" asp-route-act="delete" asp-route-sid="@item.UserId" asp-route-rid="@item.RoomId" asp-route-bid="@item.BedId">Hủy</button>
                                            </span>
                                        </td>
                                    </tr>
                                    }
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>